<template>
	<div class="container">
		<v-snackbar v-model="errorAlert" color="error" :timeout="2000">
			{{ error }}
		</v-snackbar>
		<v-snackbar v-model="successAlert" color="success" :timeout="2000">
			{{ success }}
		</v-snackbar>

		<v-dialog
			@click:outside="closeDialog()"
			v-model="dialog.display"
			max-width="350"
		>
			<v-card>
				<v-card-title class="headline">
					{{ dialog.action }} File {{ file.name }}
				</v-card-title>
				<v-card-text>
					<template v-if="dialog.action != 'view'">
						<v-text-field
							v-model="file.name"
							label="file name"
							filled
						>
						</v-text-field>
					</template>

					<v-textarea
						v-model="file.text"
						label="content"
						filled
						:readonly="dialog.action == 'view'"
					></v-textarea>
					<div class="d-flex">
						<v-spacer></v-spacer>
						<v-btn color="primary" text @click="closeDialog()">
							cancel
						</v-btn>
						<div class="mx-1"></div>
						<v-btn
							color="primary"
							@click="submitDialog(dialog.action)"
						>
							done
						</v-btn>
					</div>
				</v-card-text>
			</v-card>
		</v-dialog>

		<div class="home mt-10">
			<v-row>
				<v-col cols="12" md="4">
					<div>
						<h3 class="font-weight-light mb-5 accent--text">
							please enter server and port
						</h3>
						<v-form class="d-flex justify-center flex-column">
							<v-text-field
								v-model="connection.hostname"
								placeholder="example.com | 192.168.x.x"
								label="Server"
								filled
								class="flex-grow-3 mb-5"
								hide-details
							></v-text-field>
							<v-text-field
								v-model="connection.port"
								placeholder="8080"
								label="port"
								filled
								class="mb-5"
								hide-details
							></v-text-field>
							<div class="d-flex justify-center">
								<v-btn
									color="secondary"
									@click="startConnection"
									:loading="loading"
									:disabled="loading"
									>Start Connection</v-btn
								>
							</div>
							<v-divider class="my-5"></v-divider>
							<div class="d-flex align-center">
								<h3 class="font-weight-light mb-0 accent--text">
									encryption type
								</h3>
								<v-btn-toggle
									tile
									color="primary"
									group
									:v-model="encType"
									@change="updateEncType"
								>
									<v-btn value="none">
										NONE
									</v-btn>
									<v-btn value="sym">
										SYM
									</v-btn>

									<v-btn value="pgp">
										PGP
									</v-btn>
								</v-btn-toggle>
							</div>
						</v-form>
					</div>
				</v-col>
				<v-col cols="12" md="8">
					<h3 class="font-weight-light mb-5 accent--text">
						Connection status:
						<v-chip
							label
							dark
							:color="
								socket && socket.connected ? 'success' : 'error'
							"
						>
							{{
								socket && socket.connected
									? 'connected'
									: 'disconnected'
							}}
						</v-chip>
					</h3>
					<div v-if="files && files.length > 0">
						<div class="d-flex justify-between">
							<h2 class="accent--text">results:</h2>
							<div class="flex-grow-1"></div>
							<v-btn
								color="primary"
								@click="openFileDialog(_, 'create')"
								>add new file</v-btn
							>
						</div>
						<v-list>
							<v-list-item
								class="card"
								v-for="item in files"
								:key="item._id"
							>
								<v-list-item-avatar>
									<v-icon class="primary" dark>
										mdi-file-document-outline
									</v-icon>
								</v-list-item-avatar>

								<v-list-item-content>
									<v-list-item-title>
										{{ item.name }}
									</v-list-item-title>

									<v-list-item-subtitle>{{
										item.createdAt
									}}</v-list-item-subtitle>
								</v-list-item-content>
								<v-list-item-action class="d-flex flex-row">
									<v-btn
										icon
										tile
										text
										@click="
											openFileDialog(item.name, 'edit')
										"
									>
										<v-icon color="primary"
											>mdi-file-document-edit-outline</v-icon
										>
									</v-btn>
									<v-btn
										icon
										tile
										text
										@click="
											openFileDialog(item.name, 'view')
										"
									>
										<v-icon color="secondary"
											>mdi-text-box-search-outline</v-icon
										>
									</v-btn>
								</v-list-item-action>
							</v-list-item>
						</v-list>
					</div>
					<div v-else>
						<div class="accent--text display-1">
							Ops, No Result!
						</div>
					</div>
				</v-col>
			</v-row>
		</div>
	</div>
</template>

<script>
import SocketIO from 'socket.io-client'
import * as Symmetric from '../../plugins/symmetric'
import * as PGP from '../../plugins/PGP'
import * as Signiture from '../../plugins/DigitalSignature'

export default {
	name: 'Home',

	data: () => ({
		connection: {
			hostname: '192.168.1.108',
			port: '3001'
		},
		//socket instance
		socket: null,

		// keys
		myKeys: null,
		serverPublicKey: null,
		sessionKey: null,

		// files response from connection
		files: [],
		file: {
			name: '',
			text: ''
		},

		// file Dialog
		dialog: {
			display: false,
			action: 'view'
		},

		// snackbars
		errorAlert: false,
		successAlert: false,
		error: '',
		success: 'session opened successfully',

		// loaders:
		loading: false
	}),

	computed: {
		encType() {
			return this.$store.state.enc_type
		}
	},

	watch: {
		error: function(newValue, oldValue) {
			this.errorAlert = true
		}
	},

	methods: {
		//Socket
		startConnection() {
			if (this.socket) {
				this.socket.close()
				this.files = null
				this.file = {
					name: '',
					text: ''
				}
				this.loading = true
			}

			this.socket = SocketIO(
				`http://${this.connection.hostname}:${this.connection.port}`
			)

			this.socket.on('connect', () => {
				this.successAlert = true
				if (this.encType === 'pgp') {
					this.myKeys = PGP.generateKeys()
					let data = this.createResponse(
						{
							publicKey: this.myKeys.public
						},
						'none'
					)
					console.log('on connect data = ', data)
					this.socket.emit('sendPublicKey', data)
				}
				this.loading = false
			})

			this.socket.on('disconnect', error => {
				console.log('socket disconnected')
				this.error = error
			})

			this.socket.on('connect_error', error => {
				console.log('socket connect_error')
				this.error = error
				this.files = []
				this.file = {
					name: '',
					content: ''
				}
			})

			this.socket.on('error', error => {
				console.log('socket error from server: ', error)
				this.error = error
				// this.socket.disconnect()
			})

			this.socket.on('sendPublicKey', res => {
				let { body, type } = res
				this.serverPublicKey = body.publicKey
				this.sessionKey = Symmetric.generateKey()

				let data = this.createResponse(
					{ sessionKey: this.sessionKey },
					'rsa'
				)
				this.socket.emit('checkKey', data)
			})

			this.socket.on('checkStatus', res => {
				let { body, type } = res

				body = this.decryptBodyRequest(type, body)
				if (body.handCheck) {
					console.log('HandShake Completed')
					this.indexFiles()
				} else {
					console.log('HandShake Error') //todo handler retry kareem
				}
			})

			/* GET ALL FILES FROM SERVER */
			this.socket.on('file.list', res => {
				let { body, type } = res
				body = this.decryptBodyRequest(type, body)
				this.files = body
			})

			if (this.encType !== 'pgp' && this.encType !== 'apgp') {
				this.indexFiles()
			}

			/* VIEW CERTAIN FILE FROM SERVER */
			this.socket.on('file.details', res => {
				let { body, type } = res
				body = this.decryptBodyRequest(type, body)
				this.file = body
			})

			/* UPDATE CERTAIN FILE FROM SERVER */
			this.socket.on('file.update', res => {
				this.successAlert = true
				this.success = 'file updated successfully'
			})
		},

		//methods
		updateEncType(value) {
			this.$store.commit('update_enc_type', value)
		},

		openFileDialog(name, action) {
			this.dialog = {
				display: true,
				action
			}

			if (this.socket && action !== 'create') {
				let data = this.createResponse({ name: name }, this.encType)
				this.socket.emit('file.view', data)
			}
		},

		closeDialog() {
			this.dialog.display = false
			this.file = {
				name: '',
				text: ''
			}
		},

		async submitDialog(action) {
			if (action === 'edit' || action === 'create') {
				this.updateFile()
			}
			this.closeDialog()
		},

		async updateFile() {
			if (this.socket) {
				let data = this.createResponse(this.file, this.encType)
				await this.socket.emit('file.update', data)
				await this.indexFiles()
			}
		},

		async indexFiles() {
			if (this.socket) {
				let data = this.createResponse({ file: 'test' }, this.encType)
				await this.socket.emit('file.index', data)
			}
		},

		decryptBodyRequest(type, body) {
			console.log('type Encrypt request= ' + type)
			if (body) {
				switch (type) {
					case 'none':
						break
					case 'sym':
						body = this.decryptSymmetric(
							process.env.VUE_APP_SYMMETRIC_KEY,
							body
						)
						break
					case 'rsa':
						body = this.decryptRSA(this.myKeys.private, body)
						break
					case 'pgp':
						body = this.decryptSymmetric(this.sessionKey, body)
						break
				}
				return JSON.parse(body)
			}
			return null
		},

		encryptBodyResponse(type, body) {
			console.log('type Encrypt response= ' + type)
			if (body) {
				body = JSON.stringify(body)
				switch (type) {
					case 'none':
						break
					case 'sym':
						body = this.encryptSymmetric(
							process.env.VUE_APP_SYMMETRIC_KEY,
							body
						)
						break
					case 'rsa':
						body = this.encryptRSA(this.serverPublicKey, body)
						break
					case 'pgp':
						body = this.encryptSymmetric(this.sessionKey, body)
						break
				}
			}
			return body
		},
		encryptSymmetric(key, body) {
			console.log('===== encryptSymmetricBody =====')
			console.log('body before encrypt = ', body)
			body = Symmetric.encryptText(key, body)
			console.log('body after encrypt = ', body)
			console.log('===== end =====')
			console.log('===============\n')
			return body
		},
		decryptSymmetric(key, body) {
			console.log('===== decryptSymmetricBody =====')
			console.log('body before decrypt = ', body)
			body = Symmetric.decrypt(key, body)
			console.log('body after decrypt = ', body)
			console.log('===== end =====')
			console.log('===============\n')
			return body
		},
		encryptRSA(key, body) {
			console.log('===== encryptRSABody =====')
			console.log('body before encrypt = ', body)
			body = PGP.encrypt(key, body)
			console.log('body after encrypt = ', body)
			console.log('===== end =====')
			console.log('===============\n')
			return body
		},
		decryptRSA(key, body) {
			console.log('===== decryptRSABody =====')
			console.log('body before decrypt = ', body)
			body = PGP.decrypt(key, body)
			console.log('body after decrypt = ', body)
			console.log('===== end =====')
			console.log('===============\n')
			return body
		},
		createResponse(body, encType) {
			const encBody = this.encryptBodyResponse(encType, body)

			return {
				status: true,
				type: encType,
				body: encBody,
				sign:
					encType === 'pgp'
						? this.createSignature(encBody)
						: undefined
			}
		},
		createError(error) {
			return {
				status: false,
				body: error
			}
		},
		createSignature(message) {
			return Signiture.sign(this.myKeys.private, message)
		}
	}
}
</script>
