<template>
	<v-app>
		<auth-layout v-if="isAuth">
			<router-view></router-view>
		</auth-layout>
		<dashboard-layout v-else>
			<router-view></router-view>
		</dashboard-layout>
	</v-app>
</template>

<script>
import DashboardLayout from './views/dashboard/layout'
import AuthLayout from './views/auth/layout'

export default {
	name: 'App',

	components: {
		'dashboard-layout': DashboardLayout,
		'auth-layout': AuthLayout
	},

	data: () => ({
		authRoutes: ['Login', 'Register']
	}),

	computed: {
		isAuth() {
			return this.authRoutes.includes(this.$route.name)
		}
	},
}
</script>
