
// disable filled text field border
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
	border: none !important;
}

// override divider style
.theme--light.v-divider {
	border-color: rgba($color: #00509D, $alpha: 0.5);
	border-style: dashed;
	margin: auto;
	width: 70%;
}

