<template>
	<div>
		<h2 class="accent--text text-center mb-3">Login</h2>
		<div class="text--info text-center mb-10">
			if you don't have account yet,
			<router-link to="/register" style="text-decoration: none"
				>create account now</router-link
			>
		</div>
		<v-form class="d-flex justify-center flex-column">
			<v-text-field
				v-model="loginData.email"
				placeholder="example@domain.com"
				label="email"
				filled
			></v-text-field>
			<v-text-field
				v-model="loginData.password"
				type="password"
				placeholder="***"
				label="password"
				filled
			></v-text-field>
			<div class="actions d-flex justify-center">
				<v-btn color="secondary" elevation="10" large>Login</v-btn>
			</div>
		</v-form>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
	data: () => ({

		loading: false,

		loginData: {
			email: '',
			password: ''
		}
	}),

	methods: {
		...mapActions(['login']),

		async submitForm() {

			// check if there is existing request
			if (this.loading) return

			// update loader
			this.loading = true

			// call login request ( from vuex )
			this.login(this.loginData)
				.then(res => console.log(res))
				.catch(err => console.log(err))
				.finally(() => {
					// update loader
					this.loading = false
				})
		}
	}
}
</script>

<style></style>
