<template>
	<div>
		<h2 class="accent--text text-center mb-3">Register</h2>
		<div class="text--info text-center mb-10">
			fill this information to create your account
		</div>
		<v-form class="d-flex justify-center flex-column">
			<v-text-field
				v-model="registerData.name"
				placeholder="John Dohn"
				label="Full Name"
				filled
				color="secondary"
			></v-text-field>
			<v-text-field
				v-model="registerData.email"
				placeholder="example@domain.com"
				label="email"
				filled
				color="secondary"
			></v-text-field>
			<v-text-field
				v-model="registerData.password"
				type="password"
				placeholder="***"
				label="password"
				filled
				color="secondary"
			></v-text-field>
			<div class="text--info text-center mb-10">
				Already Have Account ?
				<router-link to="/login" style="text-decoration: none"
					>Login to your account</router-link
				>
			</div>

			<div class="actions d-flex justify-center">
				<v-btn
					color="secondary"
					elevation="10"
					large
					@click="submitForm"
					>Register</v-btn
				>
			</div>
		</v-form>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
	data: () => ({
		loading: false,
		registerData: {
			name: '',
			email: '',
			password: ''
		}
	}),

	methods: {
		...mapActions(['register']),

		async submitForm() {
			// check if there is existing request
			if (this.loading) return

			// update loader
			this.loading = true

			// call register request ( from vuex )
			this.register(this.registerData)
				.then(res => console.log(res))
				.catch(err => console.log(err))
				.finally(() => {
					// update loader
					this.loading = false
				})
		}
	}
}
</script>

<style></style>
